# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Vector databases / generated data
data/
.chromadb/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Streamlit cache
.streamlit/
